@import 'tailwindcss';

body {
  background: #101010;
  color: #fff;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

button {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
